.main{
  padding: 20px;
  background-color: #ffffff;
  margin: 20px 20px 20px 50px;
}

.right_nav{
  background-color: #ffffff;
  margin: 20px 50px 20px 20px;

}
.navbar-brand{
  padding-top: 0px;
  margin-right: 400px;
  padding-left: 12%;
}
nav{
  height: 60px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
}
footer{
  background-color: #343538;
  color: #f5f8fa;
  height: 500px;
}
body{
  background-color: #afd9ee;
}
.list{
  list-style: none;
  text-align: left;
  text-color:#ffffff;
}
.heading {
  text-align: left;
  margin-left: 40px;
}
.row a:link {color: #FFFFFF
}
